<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/menu">Menú</a></li>
            <li><a href="/addProduct">Agregar Producto</a></li>
        </ul>
    </nav>
</header>
<div class="container">
    <h2>Catálogo de Zapatillas</h2>
    <div class="catalogo">
        <div class="marca">
            <h4>Nike</h4>
            <ul>
                <div th:each="product : ${products}">
                    <div th:if="${product.name.startsWith('Zapatilla Nike')}">
                        <li><a th:href="@{/productDetails(name=${product.name})}" th:text="${product.name}"></a></li>
                    </div>
                </div>
            </ul>
        </div>
        <div class="marca">
            <h4>Adidas</h4>
            <ul>
                <div th:each="product : ${products}">
                    <div th:if="${product.name.startsWith('Zapatilla Adidas')}">
                        <li><a th:href="@{/productDetails(name=${product.name})}" th:text="${product.name}"></a></li>
                    </div>
                </div>
            </ul>
        </div>
        <div class="marca">
            <h4>Puma</h4>
            <ul>
                <div th:each="product : ${products}">
                    <div th:if="${product.name.startsWith('Zapatilla Puma')}">
                        <li><a th:href="@{/productDetails(name=${product.name})}" th:text="${product.name}"></a></li>
                    </div>
                </div>
            </ul>
        </div>
        <div class="marca">
            <h4>Vans</h4>
            <ul>
                <div th:each="product : ${products}">
                    <div th:if="${product.name.startsWith('Zapatilla Vans')}">
                        <li><a th:href="@{/productDetails(name=${product.name})}" th:text="${product.name}"></a></li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
</body>
</html>


