<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles del Producto</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/menu">Menú</a></li>
      <li><a href="/addProduct">Agregar Producto</a></li>
    </ul>
  </nav>
</header>
<div class="container">
  <h2>Detalles del Producto</h2>
  <div class="product-details">
    <h3 th:text="${product.name}">Nombre del Producto</h3>
    <p><strong>Tallas:</strong> <span th:text="${product.sizes}">Tallas del Producto</span></p>
    <img th:src="${product.imageUrl}" th:alt="${product.name}" /> <!-- Mostrar la imagen usando la URL -->
    <p><strong>Precio:</strong> <span th:text="${product.price}">Precio del Producto</span></p>
    <p><strong>Descripción:</strong> <span th:text="${product.description}">Descripción del Producto</span></p>
  </div>
</div>
</body>
</html>
