<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalles del Producto</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a th:href="@{/login}">Login</a></li>
      <li><a th:href="@{/register}">Register</a></li>
      <li><a th:href="@{/menu}">Menú</a></li>
      <li><a th:href="@{/addProduct}">Agregar Producto</a></li>
    </ul>
  </nav>
</header>
<div class="container">
  <h2>Detalles del Producto</h2>
  <div>
    <p>Nombre: <span th:text="${product.name}"></span></p>
    <p>Tamaños: <span th:text="${product.sizes}"></span></p>
    <p> <img th:src="${product.imageUrl}" alt="Imagen del producto"></p>
    <p>Precio: <span th:text="${product.price}"></span></p>
    <p>Descripción: <span th:text="${product.description}"></span></p>
  </div>
</div>
</body>
</html>

